<div class="jumbotron">
    <div class="container">
        <h1>Bees!</h1>
        <p>anyway, here's some bugs</p>
    </div>
</div>


<% @bugs.each do |bug| %>
    <div class="card w-25">
        <div class="card-header bg-secondary">
            <h5 class="card-title text-white"><%= bug.title %></h5>
            <small class="text-white"><%= (bug.author.try { |a| "#{a.fname} #{a.lname}"} || "NA") %></small>
            <br />
            <small class="text-white"><%= bug.issue_type %>, <%= bug.priority %>, <%= bug.status %></small>
            
        </div>
        <div class="card-body">
            
            
            <p class="card-text"><%= bug.description %></p>
        </div>
        <div class="card-footer">
            <%= link_to 'Show Bug', bug, { :class=>"btn btn-primary" } %>
        </div>
    </div>
    
<% end %>
