<%= form_with(model: bug, local: true) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :issue_type %>
    <%= form.select(:issue_type, Bug.issue_types.keys, {selected: @bug.issue_type}, { :class=>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <%= form.select(:priority, Bug.priorities.keys, {selected: @bug.priority}, {:class=>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select(:status, Bug.statuses.keys, {selected: @bug.status}, {:class=>'form-control'} )%>
  </div>
  
  <div class="form-group">
    <%= form.label :author_id, :class=>'label' %>
    <%= form.select(:author_id, 
        options_for_select(Author.all.collect {|a| ["#{a.fname} #{a.lname}", a.id]},
        selected: (@bug.author ? @bug.author.id : Author.first.id)), {},
        { :class=>'form-control' } )%>
  </div>

  <div class="actions">
    <%= form.submit 'Save', :class=>'btn btn-success' %>
  </div>
<% end %>
