<p id="notice"><%= notice %></p>


<%= react_component("AllBugs", { name: 'eric', bugs: Hash[@bugs.map { |l| [l.title, [l.description, l.issue_type, l.priority, l.status]] }].to_json }) %>


<hr/>

<h1>Bugs</h1>
<h4>Original Rails version</h4>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Issue type</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= (bug.author.try { |a| "#{a.fname} #{a.lname}"} || "NA") %></td>
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <td><%= bug.issue_type %></td>
        <td><%= bug.priority %></td>
        <td><%= bug.status %></td>
        <td><%= link_to 'Show', bug, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug), class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path, class: 'btn btn-primary' %>
