<h4 id="notice"><%= notice %></h4>


<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Author</span>
  </div>
  <input type="text" class="form-control" value="<%= (@bug.author.try { |a| "#{a.fname} #{a.lname}"} || "NA") %>" readonly />
</div>


<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Title</span>
  </div>
  <input type="text" class="form-control" value="<%= @bug.title %>" readonly />
</div>


<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Description</span>
  </div>
  <textarea class="form-control" readonly><%= @bug.description %></textarea>
</div>

<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Issue Type</span>
  </div>
  <input type="text" class="form-control" value="<%= @bug.issue_type %>" readonly />
</div>

<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Priority</span>
  </div>
  <input type="text" class="form-control" value="<%= @bug.priority %>" readonly />
</div>

<div class="input-group w-50 mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Status</span>
  </div>
  <input type="text" class="form-control" value="<%= @bug.status %>" readonly />
</div>

<%= link_to 'Edit', edit_bug_path(@bug), class: 'btn btn-primary' %> |
<%= link_to 'Back', bugs_path, class: 'btn btn-secondary' %>
