// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    background-image: asset-url('bees.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron p {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}